<div class="compose-header" data-toggle="collapse" data-target="#editable">
  <img class="avatar" src="<%= asset_path( 'loren_avatar.jpg' ) %>"/>
  <span id="user-name">Loren</span>
  <span id="write-here">Write here...</span>
</div>
<div id="editable" class="collapse">
  <div class="editable compose-home"></div>
  <div class="compose-buttons">
    <button type="submit" id="publish">Publish</button>
    <button type="submit" class="upload-image">Upload image</button>
  </div>
</div>