<div class="compose-header" data-toggle="collapse" data-target="#editable">
  <img class="avatar" src="<%= asset_path( 'loren_avatar.jpg' ) %>"/>
  Hello
</div>
<div id="editable" class="collapse">
  <div class="editable compose-home"></div>
</div>
<div class="compose-buttons">
  <button type="submit" class="post">Post</button>
  <button type="submit" class="upload-image">Upload image</button>
</div>