<div class="compose-header" data-toggle="collapse" data-target="#editable">
  <img class="avatar" src="/assets/loren_avatar.jpg"/>
  <span id="user-name">Loren</span>
  <span id="write-here">Write here...</span>
</div>
<div id="editable" class="collapse">
  <div class="editable compose-home"></div>
  <div class="compose-buttons">
    <button type="submit" id="publish">Publish</button>
    <button class="inlineTooltip-button scale" title="Add an image" data-action="inline-menu-menu-image"> <span class="tooltip-icon icon-image"></span> </button>
  </div>
</div>