       <div class="empty-post-error alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Title and body required.
  </div>
<div class="container main">
  <div class="row">

    <div class="feed">
      <div class="story-col">
   
        <div class="compose"></div>
        <div class="story-feed"></div>
      </div>
    </div>
    <div class="tag-feed"></div>
  </div>
</div>
