<div class="container main">
  <div class="row">
    <div class="feed">
      <div class="story-col">
        <div class="compose"></div>
        <div class="story-feed"></div>
      </div>
    </div>
    <div class="tag-feed"></div>
  </div>
</div>
