<script>$(Readium.initialize);</script>
<nav class="navbar navbar-default">
  <div class="container bar">
    <a href="#" class="navbar-brand" style="width:254px">
      <img style="width: 146px;height: 34px"src="<%= asset_path( 'readium_logo.png' ) %>">
    </a>
    <ul class="nav navbar-nav">
      <li>
        <a href="#" class="header-link">HOME</a>
      </li>
      <li>
        <a href="#" class="header-link">TOP STORIES</a>
      </li>
      <li>
        <a href="#" class="header-link">BOOKMARKS</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#stories/new">
          <button class="write-story btn">Write a Story</button>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div id="main"></div>
<script>window.CURRENT_USER = '<%= current_user.username %>'</script>
<script>window.CURRENT_USER_ID = <%= current_user.id %></script>