
<div class="log-in-box">
  <h1 class="sign-in">Readium</h1>
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div id="login-fields">
      <input type="text" class="cred-fields username" name="user[username]" value="<%= @user.username %>" placeholder="Username" style="margin-bottom: 4px;">
      <br>
      <input type="password" name="user[password]" class="cred-fields password" placeholder="Password">
      <br>
      <a href="" class="sign-up-link">Sign Up</a>
      <br>
      <div class="log-in-buttons">
        <button class="follow-button log-in" type="submit" id="enter" style="margin-right: 7px;">Log In</button>
        <button class="follow-button log-in trial">Tour</button>
      </div>
    </div>
  </form>
  <% if flash[:errors] %>
    <div class="errors">
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end  %>
    </div>
  <%  end %>
</div>

<script>
  $('button.trial').click(function(event){
    event.preventDefault();
    $("input[name='user[username]']").val("");
    $("input[name='user[password]']").val("");
      autoTyper('DFW', $("input[name='user[username]']"), function(){
        autoTyper('foster', $("input[name='user[password]']"), function(){
          $('#enter').click();
        });
      });
    });
    var autoTyper = function(word, $el, callback){
      var typer = setInterval(function(){
        $el.val($el.val() + word.slice(0,1));
        word = word.substr(1);
        if(word.length === 0){
          clearInterval(typer);
          callback();
        }
      }, 100);
    }
</script>
