<div class="blurb">
  <img class="avatar-blurb" src="/assets/loren_avatar.jpg"/>
  <p class="username-blurb"><%= user.escape('username') %></p>
  <div class="follow-blurb">
    <div class="following-blurb">
      <p class="follow-title">FOLLOWING</p>
      <p class="follow-num"><%= user.followedUsers().length %></p>
    </div>
    <div class="followers-blurb">
      <p class="follow-title">FOLLOWERS</p>
      <p class="follow-num"><%= user.followers().length %></p>
    </div>
  </div>
  <% if (currentUser.id !== user.id) { %>
    <div class="follow-contain">
      <div class="follow-button users-follow">Follow</div>
    </div>
  <% } %>
</div>
<span class="recent">LATEST STORIES</span>
<div class="story-feed-user"></div>
