<div class="blurb">
  <img class="avatar-blurb" src="/assets/loren_avatar.jpg"/>
  <p class="username-blurb"><%= user.escape('username') %></p>
  <div class="follow-blurb">
  <div class="following-blurb">
    <p class="following-title">FOLLOWING</p>
    <p class="following-num"></p>
  </div>
  <div class="follwers-blurb"></div>
  </div>
</div>
