<a href="#stories/<%= story.get('id') %>">
<img style="width:100%;" src="<%= story.escape('header_url') %>"/>
<p class="story-title">
  <%= story.get('title')  %>
</p>
<br>
<div class="story-preview-text">
   <%= story.get('body') %>
</div>
</a>

