<a href="#stories/<%= story.get('id') %>">
<% if (story.escape('home_url')) { %>
  <img style="width:100%;" src="<%= story.get('home_url') %>"/>
<% }  %>
<div class="story-title">
  <%= story.get('title') %>
</div>
<br>
<div class="story-preview-text">
   <%= story.get('body') %>
</div>
</a>