<a href="#stories/<%= story.get('id') %>">
<!-- <img style="width:100%;" src="https://d262ilb51hltx0.cloudfront.net/fit/t/800/240/1*No3f1EMoENLyr7A6r_Vupg.jpeg"> -->
<p class="story-title">
  <%= story.get('title')  %>
</p>
<br>
<div class="story-preview-text">
   <%= story.get('body') %>
</div>
</a>

