<div class="title-body-container">
  <div class="editable editor-title"></div>
  <div class="editable editor-body"></div>
  <button class="publish">Publish</button>
  <button class="upload">Upload image</button>
</div>