<div class="empty-post-error alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Body required
</div>
<div class="story-new-wrapper">
  <div class="header-preview"></div>
  <div class="editor"></div>
  <div class="create-box"></div>
</div>
<div class="filler"></div>
