/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require medium-editor/medium-editor.min.css
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

a {
    text-decoration: none !important;
    color:inherit;
}

a:hover {
    text-decoration: none !important;
    color: inherit;
}

@font-face {
  font-family: 'clarendon';
  src: url(/assets/clarenbd.ttf) format('truetype');
}

@font-face {
  font-family: 'freight';
  src: url(/assets/freight.ttf) format('truetype');
}

.sign-in {
  font-family: clarendon;
  text-align: center;
  padding-top: 250px;
  font-size: 68px;
}

#login-fields {
  text-align: center;
  padding-top: 10px;
}

.cred-fields {
  width: 250px;
}

.navbar-default {
  background-color: white;
  border-bottom-color: rgba(0, 0, 0, 0.0980392);
  border-bottom-style: solid;
  border-bottom: 1px;
}

.article {
  font-family: freight;
  font-size: 22px;
}

.row {
  width: 700px;
  margin: auto;
}

.article p {
  margin-bottom: 30px;
}

.navbar-brand img {
  width: 135px;
}

.write-button {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 38px;
  border-bottom-left-radius: 13986px;
  border-bottom-right-radius: 13986px;
  border-top-left-radius: 13986px;
  border-top-right-radius: 13986px;
  color: rgba(0,0,0,0.44);
}

.write-button:hover {
  color: rgba(0,0,0,0.6);
  border-color: rgba(0,0,0,0.3);
  background-color: white;
}

.write-button:focus {
  outline: none;
}

.navbar-right {
  margin-top: 5px;
}

.editable.compose-home {
  height: 160px;
  width: 580px;
  margin: auto;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.0980392);
  font-family: freight;
  font-size: 18px;
}

.main-feed {
  width: auto;
  margin-right: 400px;
}

.single-column {
  width: 580px;
  margin: auto;
}

.story-feed {
  font-family: freight;
}

.story-title {
  font-size: 28px;
  font-family: 'Lucida Grande';
  font-weight: bold;
}

.story-preview-text {
  font-family: 'freight';
  font-size: 18px;
}

.medium-editor-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.298039);
}

.storyPreview {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.0980392);
}

*:focus {
    outline: 0;
}

.story-header-img {
  width: 100%;
}

div.overlay {
    opacity: .9;
    background-color: black;
    position: absolute;
    left: 0; top: 0; height: 256px; width: 256px;
}

#container {
    position: relative;
}
