#cloudinary-overlay.with_theme {
  display: block;
}

#cloudinary-overlay {
  background-color: rgba(0,0,0,0.5);
}

#cloudinary-widget {
  background: #ffffff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'jaf-bernino-sans';
  height: 400px;
}

#cloudinary-navbar {
  background: #fff;
  border: none;
  margin: 0 0 10px 0;
  height: 30px;
}

#cloudinary-navbar .source {
  border-color: none;
  border-right: 0px;
  border-bottom: 3px solid none;
  height: 30px;
}

#cloudinary-navbar .source .label {
  font-size: 14px;
  line-height: 22px;
}

#cloudinary-navbar .source .icon {
  display: none;
}

#cloudinary-navbar .source.active {
  background: none;
}

#cloudinary-navbar .source.active .label {
  color: #000;
}

#cloudinary-widget .drag_area {
  background: #fff;
  border: 2px dashed #ccc;
  margin: 0px 30px 0px 30px;
}

#cloudinary-widget .drag_area.in {
  border-color: #01BB16
}

#cloudinary-navbar .sources {
  display: none;
}
#cloudinary-navbar .sources .icon {
  background-position-x: 0px ;
}

#cloudinary-navbar .close {
  color: rgb(85, 85, 85);
}

#cloudinary-widget .button, #cloudinary-widget .button.small_button {
  font: 14px 'ProximaNova-Regular';
  letter-spacing: 1px;
  box-sizing: border-box;
  color: white;
  background: #1abc9c;
}

#cloudinary-widget .button {
  width: 180px;
  padding: 10px;
  border-radius: 0;
}

#cloudinary-widget .button.small_button {
  height: 35px;
  width: 140px;
  line-height: 25px;
}

#cloudinary-widget .button:hover, #cloudinary-widget .button.small_button:hover, #cloudinary-widget .upload_button_holder:hover .button {
  background: #1bac9c;
  color: #fff;
}

#cloudinary-widget .panel {
  height: 330px;
}

#cloudinary-widget .panel.local {
  margin-top: -8px;
}

#cloudinary-widget .panel.local .drag_area .drag_content .label {
  color: #ccc;
  font-size: 35px;
  letter-spacing: 1px;
}

#cloudinary-widget .panel.progress .thumbnails {
  margin-top: 4px;
}

#cloudinary-widget .panel.camera .form .button_holder {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cloudinary-widget .panel.camera .note {
  font-weight: normal;
  font-size: 13px;
  padding: 4px 20px 4px 20px;
}


#cloudinary-widget .panel.camera video {
  border-width:0px;
}

#cloudinary-widget .camera .form {
  background:#fff;
  border: 1px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0px 20px 0px 20px;
  padding-top: 10px;
}


.widget .panel.local .drag_area .drag_content .or {
  display: block;
  text-align: center;
  font-size: 13px;
  line-height: 23px;
  color: #ccc;
  margin-bottom: 20px;
}

.widget .powered_by_cloudinary.active {
  display: none !important;
}

@media screen and (max-width: 767px) {
  #cloudinary-widget .drag_area {
    border: none;
    background: none;
  }
}
