<div class="tag-frame">
  <div class= "tag-interior">
    <div class= "tag-header">
      <div class="featured-header">FEATURED TAGS</div>
      <div class="featured-tags">
        <% tags.each(function(tag) { %>
        <a href="#tags/<%= tag.id %>"><%= tag.escape('name') %></a>
        <% }) %>
      </div>
      <br>
    </div>
    <div class= "tag-header">
      <div class="featured-header">SUBSCRIBED TAGS</div>
      <div class="featured-tags">
        <% currentUser.each(function(tag) { %>
        <a href="#tags/<%= tag.id %>"><%= tag.escape('name') %></a>
        <% }) %>
      </div>
      <br>
    </div>
  </div>
</div>