<div class="tag-frame">
  <div class= "tag-interior">
    <div class= "tag-header">
      <div class="featured-header">FEATURED TAGS</div>
      <div class="featured-tags">Test</div>
    </div>   
  </div>
</div>