<div class="tag-show-header">
  <div class="tag-category">
    <p class="tagged-in">TAGGED IN</p>
    <p class="tag-name-show"><%= tag.get('name') %></p>
  </div>
  <div class="follow-button">Follow</div>
</div>
<div class="tag-stories-feed"></div>