<div class="tag-show-header">
  <div class="tag-category">
    <p class="tagged-in">TAGGED IN</p>
    <p class="tag-name-show">Your mom</p>
  </div>
  <div class="tag-follow" id="publish">Follow</div>
</div>

<% tag.stories().each(function(story) { %>
  <%= story.get('title') %> 
<% }) %>